.button {
  height: 30px !important;
  text-align: center;
  font-size: 1.25rem;
  color: rgb(174, 165, 42);
  margin-bottom: 50px;
}

.skull {
  float: right;
  background-color: #e74944;
}
.success-btn {
  float: right;
  color: rgb(80, 221, 80);
  background: white;
  margin: 5px;
  
}
.info-btn {
  float: right;
  color: rgb(80, 94, 221);
  background: white;
  margin: 5px;

}

